<table>
  <thead>
  <tr>
    @for (header of tableHeader; let i = $index; track i) {
      <th class="">{{ header }}</th>
    }
    <th class="!max-w-10"></th>
  </tr>
  </thead>
  <tbody>
    @if (tableData) {
      @for (item of tableData; let i = $index; track i) {
        <tr>
          @for (header of tableHeader; let i = $index; track i) {
            <td>{{ item[header] }}</td>
          }
          <td class="flex gap-4 items-center justify-end">
            <span (click)="onEditEventClick(item)"
                  class="!text-main-green  font-medium cursor-pointer inline-block">View</span>
            <span (click)="onEditEventClick(item)"
                  class="!text-main-blue  font-medium cursor-pointer inline-block">Edit</span>
          </td>


        </tr>
      }
    }

  </tbody>
</table>
