<div>
    <h1 class="text-lg font-semibold">Invoice details</h1>
    <form (ngSubmit)="createInvoice($event)" [formGroup]="invoiceForm" class="mt-7 flex flex-col gap-5">
        <div class="flex flex-col gap-2">
            <label>Patient</label>
            <dem-single-select-input
                    [options]="patientsStore.patients()"
                    formControlName="patient"
                    label="fullName"
                    title="Patients"/>
        </div>
        <div class="flex flex-col gap-2">
            <label>subject</label>
            <input [maxLength]="50" class="dem-input" formControlName="subject" placeholder="Notes"
                   type="text">
        </div>
        <div class="flex flex-col gap-2">
            <label>Date</label>
            <input class="dem-input" formControlName="date" name="date" placeholder="Date" type="date"/></div>
        <h1>Treatments</h1>
        <hr/>
        <div class="flex flex-col gap-3">@if (treatmentsList.length > 0) {
            <div class="grid grid-cols-[7fr_2fr_1fr] gap-3">
                <h1 class="py-2 px-1.5  block text-[0.9rem] w-full">Name</h1>
                <h2 class="py-2 px-1.5 rounded-md block text-[0.9rem] w-full">Price</h2>
            </div>
            @for (treatment of treatmentsList; let i = $index; track i) {

                <div class="grid grid-cols-[7fr_2fr_1fr] gap-3  rounded-md">
                    <h1 class="dem-input">{{ treatment.name }}</h1>
                    <h2 class="dem-input">{{ treatment.price }} DH</h2>
                    <button (click)="deleteTreatment(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-5 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                        </svg>
                    </button>
                </div>
            }
        }
            <dem-single-select-input
                    (change)="onTreatmentSelected($event)"
                    [options]="treatmentsStore.treatments()"
                    label="name"
                    optionValue="id"
                    title="Treatments"/>
        </div>
        <div class="flex items-center justify-end gap-3 mt-5">
            <button class="dem-btn dem-btn-trp" type="reset">Cancel</button>
            <button class="dem-btn" type="submit">Save Invoice</button>
        </div>
    </form>
</div>


<div class="bg-main-bg p-3 rounded-md overflow-y-auto">
    <div class="flex justify-between items-center mb-3">
        <h2>Preview</h2>
        <button class="dem-btn dem-btn-trp text-xs rounded-full py-2 px-2">PDF</button>
    </div>
    <div class="bg-white shadow-md min-h-full rounded-md flex flex-col gap-4 items-center p-3">

        <h1>Hi {{ patient }} !</h1>
        <p class="text-sm">Your new invoice is ready, happy to have you here !</p>

        <hr class="w-full"/>

        <div class="w-full px-10 flex flex-col gap-3">

            <h1 class="w-full text-start">Invoice Details: </h1>

            <hr>

            <div class="grid grid-cols-2 grid-rows-2 gap-y-2 text-sm">

                <div class="h-fit">
                    <h1 class=" block text-[0.9rem] text-gray-500">Due date</h1>
                    <h2 class="rounded-md block text-[0.9rem] w-full">{{ invoiceDate | date:"dd LLLL yyyy" }}</h2>
                </div>

                <div class="h-fit">
                    <h1 class="  block text-[0.9rem] text-gray-500">Subject</h1>
                    <h2 class=" rounded-md block text-[0.9rem] w-full">{{ invoiceSubject }}</h2>
                </div>

                <div class="h-fit">
                    <h1 class=" block text-[0.9rem] text-gray-500">Billed To</h1>
                    <h2 class=" rounded-md block text-[0.9rem] w-full">{{ patient }}</h2>
                    <h2 class=" rounded-md block text-[0.9rem] w-full">{{ "email@gmail.com" }}</h2>
                </div>
            </div>

            <div>
                <div class="grid grid-cols-[7fr_2fr] gap-3 bg-gray-100 py-1 px-2 my-3">
                    <h1 class="  block text-[0.9rem] w-full">Treatment Name</h1>
                    <h2 class=" rounded-md block text-[0.9rem] w-full">Price</h2>
                </div>
                <div class="flex flex-col gap-2 text-sm">
                    @for (treatment of treatmentsList; let i = $index; track i) {
                        <div class="grid grid-cols-[7fr_2fr] gap-3  rounded-md">
                            <h1>{{ treatment.name }}</h1>
                            <h2 class="text-end">{{ treatment.price }} DH</h2>
                        </div>
                    }
                </div>
            </div>

            <hr>

            <div class="flex justify-between items-center">
                <h1>Total: </h1>
                <h1>{{ totalAmount }} DH</h1>
            </div>

        </div>

    </div>
</div>
