<div class="flex justify-between">
  <h3>{{ treatment.name }}</h3>
  <h3 class="text-end">230 DH</h3>
</div>

<div class="flex justify-between">
  <h3 class="inline-block">Created By: <span>{{ treatment.createdBy.username }}</span></h3>
  <h3 class="text-end inline-block">Updated By: <span>{{ treatment.createdBy.username }}</span></h3>
</div>
<div class="flex justify-between">
  <h3 class="inline-block">Created At: <span>{{ treatment.createdAt | date: 'mm-dd-yyy' }}</span></h3>
  <h3 class="text-end inline-block">Updated At: <span>{{ treatment.createdAt | date: 'mm-dd-yyy' }}</span></h3>
</div>
