<table>
  <thead>
  <tr>
    @for (header of tableHeader; let i = $index; track i) {
      <th class="">{{ header }}</th>
    }
    <th class="!max-w-10"></th>
  </tr>
  </thead>
  <tbody>
    @if (tableData) {
      @for (item of tableData; let i = $index; track i) {
        <tr>
          @for (header of tableHeader; let i = $index; track i) {
            <td>
              @if (showImage && i === 0) {
                <div class="flex items-center gap-2">
                  <img
                    [src]="'https://api.dicebear.com/8.x/initials/svg?radius=50&size=32&fontSize=44&seed=' + item[header]"
                    alt="avatar"
                  />
                  <h4>{{ item[header] }}</h4>
                </div>
              } @else {
                <h4>{{ item[header] }}</h4>
              }

            </td>
          }
          <td class="flex gap-4 items-center justify-end">
            <span (click)="onEditEventClick(item)"
                  class="!text-main-green  font-medium cursor-pointer inline-block">View</span>
            <span (click)="onEditEventClick(item)"
                  class="!text-main-blue  font-medium cursor-pointer inline-block">Edit</span>
          </td>


        </tr>
      }
    }

  </tbody>
</table>
