<div class="flex flex-col items-center gap-4">
  <form
    (ngSubmit)="login($event)"
    [formGroup]="signInForm"
    class="flex flex-col gap-3 w-[400px]"
  >
    <input
      class="dem-input"
      formControlName="username"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
    <input
      class="dem-input"
      formControlName="password"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
    <button
      class="dem-btn drop-shadow-[0_10px_8px_rgba(37 ,99 ,235,0.20)]"
      type="submit"
    >
      Login
    </button>
  </form>
  <p>
    You don't have an account
    <a [routerLink]="['sign-up']" class="text-main-green">Register</a>
  </p>
</div>
