<dem-search-input placeholder="Search" />
<div class="flex items-center gap-6 h-full">
  <button>
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>
  <div class="h-full  border border-l-[0.6px] border-gray-200"></div>
  <img alt="user photo" class="rounded-full cursor-pointer" src="favicon.ico">
  <div class="flex gap-2 max-w-fit items-center cursor-pointer">
    <h2 class="font-semibold text-black">Mohcine Lahnin</h2>
    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd"
            d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
            fill-rule="evenodd" />
    </svg>
  </div>
</div>
